<h1>Les idées de la communauté</h1>

<% if user_signed_in? %>
  <%= link_to "Proposer une idée", new_idea_path, class: "btn btn-success mb-3" %>
<% end %>

<div class="row">
  <% @ideas.each do |idea| %>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h5><%= link_to idea.title, idea_path(idea) %></h5>
          <p><%= truncate(idea.description, length: 100) %></p>
          <small>Par <%= idea.user.username || "Anonyme" %></small>
        </div>
      </div>
    </div>
  <% end %>
</div>

